.cart-widget-Container {
	position: fixed;
	bottom: 0%;
	left: 100%;
	transform: translate(-150%, -250%);
	background: rgb(177, 255, 62);
	padding: 1rem;
	border-radius: 100%;
	align-items: center;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.cart-widget-Container:hover {
	background: rgb(177, 255, 62, 0.8);
	transform: translate(-150%, -250%) scale(1.1);
}

.cart-widget {
	@apply fill-primary;
	display: flex;
	justify-content: center;

	transition: all 0.3s ease-in-out;
}

.cart-widget-Counter {
	font-size: 1.25rem;
	font-weight: 600;
	position: absolute;
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	color: white;
	transform: translate(0, -50%);
	@apply bg-accent;
	padding: 1rem;
	border-radius: 100%;
}
