@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

.ff-nunito {
	font-family: "Nunito", sans-serif;
}
html {
	scroll-behavior: smooth;
}
header {
	position: fixed;
}

nav {
	position: sticky;
}

.menu :where(a) :not(summary) :not(#contacto) {
	@apply hover:text-secondary hover:bg-primary/10 bg-blend-overlay !important;
	@apply transition-all ease-in hover:font-bold;
}
/* on click animate scale down to 98 and change color to accent color */
.menu :where(a):active,
.menu :where(summary):active {
	@apply scale-[98%] text-accent;
}
nav :where(a),
nav :where(summary) {
	@apply hover:text-secondary !important;
}

.menu :where(a):active {
	@apply text-accent !important;
}
