#root {
	min-height: 100vh;
	min-height: 100dvh;

	display: grid;
	grid-template-rows: 1fr auto;

	scrollbar-gutter: stable;
}

main {
	scrollbar-gutter: stable;
}

img {
	@apply rounded-none !important;
}
