@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
	border: 1px solid red;
}

@layer utilities {
	@variants responsive {
		/* Hide scrollbar for Chrome, Safari and Opera */
		.no-scrollbar::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE, Edge and Firefox */
		.no-scrollbar {
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
		}
	}
}

* {
	transition: all;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}
